<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to WoW inventory!
  </h1>
  <h2>Buy yourself some gold so you can upgrade your items.</h2>
  <h3>Your balance in ethers : {{account_balance}}</h3>
  <h4>1 gold = 1 ether</h4>
  <h4>1 silver = 0.01 ether</h4>
  <h4>1 copper = 0.0001 ether</h4>
  <button type="button" class="btn" (click)="buyGold()">Buy Gold</button>
</div>
<div class="image-container" *ngFor="let image of images">
  <img [src]="image.url" [ngClass]="{ selected: image.selected}" class="rounded selectable"  (click)="image.selected = !image.selected">
  <label class = "label label-default">Name of item : {{image.nameOfItem}}</label>
  <label class = "label label-default">Gold:{{image.costGold}} Silver:{{image.costSilver}} Copper:{{image.costCopper}}</label>
</div>
<button type="button" (click)="buyItem()" class="btn">Buy Item</button>

<div class="inventory">
  <div class="image-container-second" *ngFor="let item of itemsOfPerson">
      <img [src]="item" class="rounded selectable" >
  <!-- show items of person taken from IPFS or just recently bought -->
  </div>
</div>
