<h1>{{eventMsg}}</h1>

<div class="ether-exchange-container">
  <h6>Gold:{{accountGold}}  Silver:{{accountSilver}} Copper:{{accountCopper}} </h6>
  <h6>Your eth balance: {{accountBalance}} </h6>
  <span>Input ether to exchange</span>
  <input type="text" placeholder="ether" [(ngModel)]="inputEther" name="etherToBuyCoins">
  <button type="button" class="btn" (click)="buyGold()">Buy Gold</button>

<!--   
  <span>Input gold to exchange</span>
  <input type="text" placeholder="ether" [(ngModel)]="goldToSell" name="goldToSell">
  <button type="button" class="btn" (click)="sellGold()">Sell Gold</button>
  <span>Input silver to exchange</span>
  <input type="text" placeholder="silver" [(ngModel)]="silverToSell" name="silverToSell">
  <button type="button" class="btn" (click)="sellSilver()">Sell Silver</button>
  <span>Input copper to exchange</span>
  <input type="text" placeholder="copper" [(ngModel)]="copperToSell" name="copperToSell">
  <button type="button" class="btn" (click)="sellCopper()">Sell Copper</button> -->
</div>
<div class="row">
    <div *ngFor="let image of images" class="col-md-3">
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <div class="card-text">
            <p>
               Name: {{image.nameOfItem}}
            </p>
            <img [src]="image.url" [ngClass]="{ selected: image.selected}" (click)="image.selected = !image.selected" class="rounded selectable">
            <span>Gold: {{image.costGold}}</span>
            <span>
              Silver: 
              {{image.costSilver}}
            </span>
            <span>Copper : {{image.costCopper}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
<h5>Inventory</h5>
<div class="inventory" *ngIf="itemsOfPerson != undefined">
  <div class="image-container-second" *ngFor="let item of itemsOfPerson">
      <img [src]="item.url" class="rounded selectable" [ngClass]="{ selected: item.selected}" (click)="item.selected = !item.selected">
  <!-- show items of person taken from IPFS or just recently bought -->
  </div>
</div>
<div class="item-buttons">
  <button type="button" (click)="buyItem()" class="btn">Buy Item</button>
  <button type="button" (click)="sellItem()" class="btn">Sell Item</button>
</div>